.slides-show-container {
    margin-top: 50px;
}
.projets-page {
    display: flex;
    height: 100%;
    align-items: center;
}
.projet-images {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 0 15px;
}

img {
    width: 645px;
    height: 635px;     
    border-radius: 10px;
    object-fit: cover;  
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 35px;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 50%;
}

.arrow-button:hover {
    color: #FACC15;
    transform: scale(1.2) rotate(10deg);
    background: rgba(255, 255, 255, 0.1);
}

.arrow-button:active {
    transform: scale(1);
    background: #ffffff33;
}

.projet-title-content {
    margin-bottom: 25px;
    color: #FACC15;
}

.projet-text-content {
    font-size: 16px;
}

.projet-icon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.icon-wrapper {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-wrapper:hover {
    transform: scale(1.1);
}

.icon-wrapper:hover::after {
    content: attr(data-name);
    position: absolute;
    top: 100% ;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    opacity: 1;
    pointer-events: none;
}
